<div class="sidebar" [class.collapsed]="isCollapsed">
      <div class="sidebar-brand">
        <i  class="fas fa-graduation-cap text-white" style="font-size: 24px;"></i>
      </div>
      
      <nav class="sidebar-nav">
        <ng-container *ngFor="let item of menuItems">
          <a 
            [routerLink]="item.route" 
            routerLinkActive="active" 
            class="nav-link"
            [title]="item.label">
            <i [class]="item.icon"></i>
            <span *ngIf="!isCollapsed">{{ item.label }}</span>
          </a>
        </ng-container>
        
        <div class="nav-divider" style="border-top: 1px solid rgba(255,255,255,0.1); margin: 20px;"></div>
        
        <a href="#" class="nav-link" (click)="logout($event)" title="Logout">
          <i class="fas fa-sign-out-alt"></i>
          <span *ngIf="!isCollapsed">Logout</span>
        </a>
      </nav>
    </div>