<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <div>
            <h2 class="mb-3 text-center">🏫 Schools Fees</h2>
        </div>
        <div>
            <button class="btn btn-primary" (click)="openModal('addSchoolModal')">
                <i class="fas fa-plus me-2"></i>Add New School
            </button>

        </div>


    </div>



    <table class="table table-hover align-middle">
        <thead class="table-light">
            <tr>
                <th>S.N</th>
                <th>School Name</th>
                <th>Domain</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let s of schools; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ s.name }}</td>
                <td>{{ s.domain }}</td>
                <td>
                    <span class="badge" [ngClass]="{
                'bg-success': s.status === 'active',
                'bg-danger': s.status === 'inactive'
              }">
                        {{ s.status | titlecase }}
                    </span>
                </td>
                <td>
                    <button class="btn btn-sm btn-outline-success action-btn me-2" (click)="getSchoolDetails(s.id)"
                        title="View">
                        <i class="fa fa-eye"></i>
                    </button>
                    <!-- <button class="btn btn-sm btn-outline-primary action-btn me-2" title="Edit">
                            <i class="fa fa-pencil"></i>
                            </button> -->
                    <button class="btn btn-sm btn-outline-danger action-btn" title="Delete"
                        (click)="deleteSchool(s.id)">
                        <i class="fa fa-trash"></i>
                    </button>
                </td>


            </tr>
        </tbody>
    </table>
</div>
<!-- Button to open modal -->

<!-- Modal -->
<div id="addSchoolModal" class="modal fade show" tabindex="-1" style="display:none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content shadow-lg">

            <!-- Header -->
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title">Add New School</h5>
                <button type="button" class="btn-close btn-close-white" (click)="closeModal('addSchoolModal')"></button>
            </div>

            <!-- Body -->
            <div class="modal-body">
                <form [formGroup]="schoolForm" (ngSubmit)="submitForm()">

                    <!-- Name -->
                    <div class="mb-3">
                        <label class="form-label">School Name</label>
                        <input type="text" formControlName="name" class="form-control" placeholder="Enter school name">
                        <div *ngIf="schoolForm.get('name')?.invalid && schoolForm.get('name')?.touched"
                            class="text-danger small">
                            Name is required (min 3 characters)
                        </div>
                    </div>



                    <!-- Domain -->
                    <div class="mb-3">
                        <label class="form-label">Domain</label>
                        <input type="text" formControlName="domain" class="form-control" placeholder="example.com">
                        <div *ngIf="schoolForm.get('domain')?.invalid && schoolForm.get('domain')?.touched"
                            class="text-danger small">
                            Please enter a valid domain (e.g., myschool.edu)
                        </div>
                    </div>
                    <!-- Status -->
                    <div class="mb-3">
                        <label class="form-label">Status</label>
                        <select formControlName="status" class="form-select">
                            <option value="active">Active</option>
                            <option value="inactive">Inactive</option>
                        </select>
                    </div>

                    <!-- Buttons -->
                    <div class="d-flex justify-content-end">
                        <button type="button" class="btn btn-secondary me-2"
                            (click)="closeModal('addSchoolModal')">Cancel</button>
                        <button type="submit" class="btn btn-success" [disabled]="schoolForm.invalid">🌈 Add
                            School</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<div id="editSchoolModal" class="modal fade show" tabindex="-1" style="display:none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content shadow-lg">

            <!-- Header -->
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title">Update School</h5>
                <button type="button" class="btn-close btn-close-white"
                    (click)="closeModal('editSchoolModal')"></button>
            </div>

            <!-- Body -->
            <div class="modal-body">
                <form [formGroup]="schoolForm">

                    <!-- Name -->
                    <div class="mb-3">
                        <label class="form-label">School Name</label>
                        <input type="text" formControlName="name" class="form-control" placeholder="Enter school name">
                        <div *ngIf="schoolForm.get('name')?.invalid && schoolForm.get('name')?.touched"
                            class="text-danger small">
                            Name is required (min 3 characters)
                        </div>
                    </div>



                    <!-- Domain -->
                    <div class="mb-3">
                        <label class="form-label">Domain</label>
                        <input type="text" formControlName="domain" class="form-control" placeholder="example.com">
                        <div *ngIf="schoolForm.get('domain')?.invalid && schoolForm.get('domain')?.touched"
                            class="text-danger small">
                            Please enter a valid domain (e.g., myschool.edu)
                        </div>
                    </div>
                    <!-- Status -->
                    <div class="mb-3">
                        <label class="form-label">Status</label>
                        <select formControlName="status" class="form-select">
                            <option value="active">Active</option>
                            <option value="inactive">Inactive</option>
                        </select>
                    </div>

                    <!-- Buttons -->
                    <div class="d-flex justify-content-end">
                        <button type="button" class="btn btn-secondary me-2"
                            (click)="closeModal('editSchoolModal')">Cancel</button>
                        <button type="submit" class="btn btn-success" [disabled]="schoolForm.invalid"
                            (click)="UpdateSchool()">🌈 Update</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>