 <div class="main-layout">
      <app-header (toggleSidebar)="toggleSidebar()"></app-header>
      
      <div class="layout-container">
        
         <app-sidebar 
        [isCollapsed]="sidebarCollapsed" 
        [userRole]="currentUser?.role"
        (toggleSidebar)="toggleSidebar()">
      </app-sidebar>
        
        <main class="main-content" [class.sidebar-collapsed]="sidebarCollapsed">
          <div class="container-fluid p-4">
            <router-outlet></router-outlet>
          </div>
          <app-footer></app-footer>
        </main>
      </div>
    </div>